:root{
    --so__yellow: #FFCE04;
    --footerBg: #011A4A;
    --so__title: #003B57;
    --so__paragraph: #00547B;
    --so__bgLightBlue: #F0F8FD;
    --so__outline: #BAE5F8;
    --so__blueLight: #00A0E9;
}
body{
    font-family: 'Museo Sans Rounded 500';
}
.f700{ font-family: 'Museo Sans Rounded 700'; }
.f900{ font-family: 'Museo Sans Rounded 900'; }

.btn__so{
    background-color: white;
    border-radius: 30px;
    padding: 1rem 2rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: .85rem;
    transition: all .3s;
}
    .btn__so:active, .btn__so:focus, .btn__so:hover{
        background-color: var(--so__yellow);
    }
.btn__so-small{
    padding: .5rem 1rem;
}
.btn__so-yellow{
    background-color: var(--so__yellow);
    color: var(--so__paragraph);
}
.btn__so--outline{
    border: 1px solid var(--so__outline);
}
    .btn__so--outline:hover{
        background-color: var(--so__outline);
    }
.btn__so-dropdown{
    border: 1px solid #E6E6E6;
}
.btn__so-dropdown::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='15.75' viewBox='0 0 9 15.75'%3E%3Cpath id='long-arrow-down-light' d='M8.877,42.935l-.249-.249a.422.422,0,0,0-.6,0L5.1,45.637V32.422A.422.422,0,0,0,4.676,32H4.325a.422.422,0,0,0-.422.422V45.637L.969,42.686a.422.422,0,0,0-.6,0l-.249.249a.422.422,0,0,0,0,.6l4.078,4.1a.422.422,0,0,0,.6,0l4.078-4.1A.422.422,0,0,0,8.877,42.935Z' transform='translate(0 -32)'/%3E%3C/svg%3E ");
    border: none;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    margin-left: 4rem;
}
/* RANKING SECTION  */
.ranking{
    background: var(--so__bgLightBlue);
}
.ranking__breadcrumbs{
    font-size: .9rem;
}
.ranking__breadcrumbs a {
    color: var(--so__blueLight);
    text-decoration: none;
}
.ranking__breadcrumbs .breadcrumb-item.active{
    color: #000;
}

.ranking__by-sports{
    background-color: white;
    border-radius: 10px;
}
.ranking__by-sports-item{
    border: none;
}
.ranking__by-sports-header{
    border-radius: 10px;
}
.ranking__by-sports-title{
    color: var(--so__title);
    font-size: .85rem !important;
    border-radius: 10px;
}
.ranking__by-sports .accordion-button::after{
    background-image: none;
}
.ranking__by-sports .accordion-button.collapsed {
    background: var(--so__bgLightBlue);
    border: none;
    border-radius: 10px;
}
.ranking__by-sports .accordion-button:not(.collapsed){
    background-color: var(--so__blueLight);
    color: white;
    border-radius: 10px;
}
.ranking__by-sports .accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='7.75' viewBox='0 0 9 15.75'%3E%3Cpath id='long-arrow-down-light' d='M8.877,42.935l-.249-.249a.422.422,0,0,0-.6,0L5.1,45.637V32.422A.422.422,0,0,0,4.676,32H4.325a.422.422,0,0,0-.422.422V45.637L.969,42.686a.422.422,0,0,0-.6,0l-.249.249a.422.422,0,0,0,0,.6l4.078,4.1a.422.422,0,0,0,.6,0l4.078-4.1A.422.422,0,0,0,8.877,42.935Z' transform='translate(0 -32)' fill='%23fff'/%3E%3C/svg%3E%0A");
    transform: rotate(0);
}
.ranking__by-sports-header-number{
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ranking__by-sports .accordion-button:not(.collapsed) .ranking__by-sports-header-number{
    display: none;
}
.ranking__item-links{
    text-decoration: none;
    font-size: .85rem;
    color: var(--so__title);
}
.select {
    color: var(--so__blueLight);
}

/* SELECT RANKING  */
.select__ranking, .show__countries{
    background-color: white;
    border-radius: 10px;
}
.select__ranking-title{
    font-size: .7rem;
}

/* RANKINK COUNTRIES  */
.show__countries-table{
    background-color: var(--so__bgLightBlue);
    border-radius: 10px;
}
.show__countries-table-contry img{
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
/* TIPS      */

.tips__content-tabs{
    border: none
}
.tips__content-tabs-link{
    color: #050505 !important;
    background-color: transparent !important;
    border: none !important;
}
.tips__content-tabs .nav-link.active::after{
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: var(--so__yellow);
    position: absolute;
    margin-top: .5rem;
}
.tab__card{
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background: #fff;
}
    .tab__card-name img{
        width: 50px;
        height: auto;
        border-radius: 50%;
    }
    .tab__card-team{
        font-size: 1rem;
        color: var(--so__title);
    }
    .tab__card-vs{
        font-size: .95rem;
        color: #AAAAAA;
    }
    .tab__card-time{
        font-size: 1rem;
    }

        .tab__card-info-data{
            font-size: .9rem;
            color: #AAAAAA;
        }

        .tab__card-footer-like-text{
            font-size: .75rem;
        }
        .tab__card-footer-comment-number{
            color: var(--so__blueLight);
            width: 23px;
            height: 23px;
            font-size: .75rem;
            background-color: var(--so__bgLightBlue);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            bottom: 0px;
            right: -10px;
        }

/* BlOG  */
.blog{
    background: var(--so__bgLightBlue);
}
.blog__header-title{
    color: var(--so__title);
}

    .blog__card-img{
        height: 180px;
    }
    .blog__card-img img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .blog__card-time{
        color: #000;
        font-size: .85rem;
        background-color: white;
        border-radius: 10px;
        bottom: .7rem;
        left: .7rem;
        padding: .25rem 1rem;
    }

    .blog__card-title{
        font-size: 1.25rem;
        line-height: 1.25;
    }
    .blog__card-profile-img{
        width: 50px;
        height: 50px;
    }
    .blog__card-profile-img img{
        border-radius: 50%;
    }
    .blog__card-profile-autor{
        font-size: .85rem;
        color: #989898;
    }
    .blog__card-extract{
        font-size: .9rem;
    }
/* WHY. BET ONLINE  */
.bet__online{
    background-color: #F8F8F8;
}
.bet__online-title{
    color: var(--so__title);
    font-size: 1.5rem;
}
.bet__online-icons{
    width: 44px;
    height: auto;
}
.bet__online-img{
    position: absolute;
    bottom: 0;
    width: 75%;
    right: 0;
}
.bet__online-desc{
    font-size: 1.25rem;
    color: var(--so__paragraph);
}

.bet__online__desc-title{
    color: var(--so__title);
}
.bet__online__desc-title::before{
    display: block;
    content: '';
    width: 50px;
    height: 1px;
    margin-bottom: .5rem;
    color: var(--so__title);
    background-color: #00A0E9;
}
.bet__online__desc-p{
    color: #050505;
    font-size: .85rem;
}
/* footer  */
.footer{
    background-image: url('./assets/img/footer__bg.png');
    background-color: var(--footerBg);
    background-position: center center;
    color: white;
}
.footer a {
    color: white;
}

    .footer__header-title{
        font-size: 1.15rem;
    }
/* Footer Subscribe  */
.btn__subcribe{
    background: var(--so__yellow);
    color: #000;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.footer__subs-input{
    border-radius: 10px;
    padding: 1rem;
}

/* Footer Widget  */
.footer__widget-title{
    font-size: 1rem;
}
.footer__widget-title::after{
    margin-top: .5rem;
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: var(--so__yellow);
}
.footer__widget-list{
    font-size: .85rem;
}

.copyrights{
    font-size: .85rem;
}
    /* Social icons  */
    .social__icon{
        background-color: white;
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    .social__icon-facebook, .social__icon-instagram{
        height: 24px;
        width: 24px;
    }
    .copyright__18-img{
        width: 32px;
        height: auto;
        
    }

@media only screen and (max-width: 480px) {
    .tips{
        background-color: var(--so__bgLightBlue);
    }
    .tab__card{
        border: none;
    }
    .tab__card-team{
        font-size: 1.25rem;
    }
    .tab__card-arrow{
        display: none;
    }
    .bet__online-wrapper{
        margin-bottom: 10rem !important;
    }
    .bet__online-content{
        padding-bottom: 5rem;
    }
    .bet__online-img{
        width: 75%;
        left:-50px;
        bottom: -160px;
    }
    .bet__online__desc{
        padding: 5rem 0;
    }
    /* Blog  */
    .blog__card, .tab-pane, .tips__content-tabs{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .blog__card .col-10, .tab-pane .tab__card, .tips__content-tabs .tips__content-tabs-link{
        display: inline-block;
    }
    .blog__card-title, .blog__card-extract{
        white-space: normal;
    }
    .footer{
        background-position: 20% center;
    }
    .social__icon{
        margin-top: 1.5rem;
    }
    .copyright__18-img{
        width: 48px;
        margin: 1rem 0;
    }
    .btn__subcribe{
        width: 100%;
    }
    .footer__logo{
        display: none;
    }
}